{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "optimizeForSpeed": false,
        "plugins": [
          "styled-jsx-plugin-sass"
        ]
      }
    ]
  ]
}
