// PARALLAX

@mixin calcDistance($direction, $directionPX, $distanceZ){
  #{$direction} : calc(#{$directionPX} * (#{-($distanceZ - 1)}));
}
@mixin autoSliderDimensions($dimension, $size, $distanceZ){
  #{$dimension} : calc(#{$size} * (#{-($distanceZ - 1)}));
}
@mixin calcMarginPadding($distanceZ, $MorP, $top : 0px, $right : 0px, $bottom : 0px, $left: 0px){
  #{$MorP} : calc(#{$top} * (#{-($distanceZ - 1)})) calc(#{$right} * (#{-($distanceZ - 1)})) calc(#{$bottom} * (#{-($distanceZ - 1)}))  calc(#{$left} * (#{-($distanceZ - 1)}));
}
@mixin parallax(
  $distance: 0,
  $rotate: 0,
  $autoSlider: false
)
{
  z-index: $distance * 1000;
  transform-origin: 0 0;

  @if $rotate != 0{
    transform-origin: initial;
    transform:
      translateZ($distance * 1px)
      scale(abs($distance - 1))
      rotate(#{$rotate})
  }
  @else if $autoSlider == true {
    transform: 
      translateZ($distance * 1px)
  }
  @else{
    transform:
      translateZ($distance * 1px)
      scale(abs($distance - 1))
  }
}

//-------------------------------------